<!DOCTYPE html>
<html lang="en">
  {% include 'tutoring_student/header.html' %}
  <head>
    <title>404 Error</title>
  </head>
  <body>
    {% load static %}
    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://www.iridiumtutoring.org"
            ><img
              src="{% static 'tutoring_student/images/iridiumbannerheader.png' %}"
              class="img-fluid"
              style="height: 3rem"
              alt="Iridium Tutoring Logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a
                class="nav-link fw-bold"
                href="{% url 'tutoring_student:index' %}"
                >Home</a
              >
              <a
                class="nav-link fw-bold"
                href="{% url 'tutoring_student:studentView' %}"
                >Students</a
              >
              <a
                class="nav-link fw-bold"
                href="{% url 'tutoring_student:tutorView' %}"
                >Tutors</a
              >
            </div>
          </div>
          <div class="nav navbar-nav ml-auto mr-0">
            <a class="nav-link fw-bold" href="https://www.iridiumtutoring.org"
              >Back To Main Site</a
            >
          </div>
        </div>
    </nav>

    <div class="container mt-3">
      <h1 class="text-center mt-5">Error</h1>
      <hr />
      <p class="text-center lead">{{exception}}</p>
      <a class="btn btn-secondary btn-lg rounded-pill mt-3 mb-5" href="" role="button">Go Back</a>
    </div>

    <!-- Footer-->
    {% include 'tutoring_student/large-footer.html' %}
  </body>
</html>
