asgiref==3.7.2
black==24.2.0
click==8.1.7
colorama==0.4.6
dj-database-url==2.1.0
Django==5.0.3
django-debug-toolbar==4.3.0
django-extensions==3.2.3
django-pwa==1.1.0
django-environ==0.11.2
gunicorn==21.2.0
mypy-extensions==1.0.0
mysqlclient==2.2.4
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
psycopg2-binary==2.9.9
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
whitenoise==6.7.0