.bg-dark {
    background-color: #261f44 !important;
}

  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .big-icon {
    font-size: 40px;
  }

  .floating {
    font-size: 50px; /* You can adjust the size according to your preference */
    animation: floatAnimation 1s ease-in-out infinite; /* Adjust the duration and timing function as needed */
  }

  .text-orange {
    color: #ff7f50 !important;
  }

  .btn-orange {
    background-color: #ff7f50 !important;
  }

  .btn-dark-purple {
    background-color: #261f44 !important;
  }

  .bg-light-orange {
    background-color: #ffeeeb !important;
  }

  .fw-semibold {
    font-weight: 600;
  }

  .text-light-muted {
    color: #babdc1 !important;
  }
