<!DOCTYPE html>
<html>
  <!-- Header -->
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Iridium Tutoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <!-- Body -->
  <body>
    {% load static %}
    
    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.iridiumtutoring.org"
          ><img
            src="{% static 'tutoring_student/images/iridiumbannerheader.png' %}"
            class="img-fluid"
            style="height: 3rem"
            alt="Iridium Tutoring Logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'tutoring_student:index' %}">Home</a>
            <a class="nav-link" href="{% url 'tutoring_student:studentView' %}">Student Portal</a>
            <a class="nav-link" href="{% url 'tutoring_student:tutorView' %}">Tutor Portal</a>
            s
          </div>
        </div>
        <div class="nav navbar-nav ml-auto mr-0">
          <a class="nav-link" href="https://www.iridiumtutoring.org">Back To Main Site</a>
        </div>
      </div>
    </nav>

    <!-- Form to create a new tutoring session -->
    <div class="container mt-3">
      <h1 class="text-center mt-5">Register for a Tutoring Session</h1>

      <div class="row justify-content-md-center">
        <div class="col d-none d-md-block"></div>
        <div class="col-12 col-md-6">
          <form
            action="{% url 'tutoring_student:register_session' %}"
            method="post"
            class="container mt-5"
          >
            {% csrf_token %}

            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                value="{{name}}"
                required
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                value="{{email}}"
                required
              />
              <div id="emailHelp" class="form-text">
                Your email will not be shared with external entities. Please use
                the same email for your student.
              </div>
            </div>

            <div class="mb-3">
              <label for="date" class="form-label">Date</label>
              <input
                type="date"
                name="date"
                id="date"
                class="form-control"
                value="{{date}}"
                required
              />
              <div id="dateHelp" class="form-text">
                Please schedule at least 2 days into the future.
              </div>
            </div>

            <div class="mb-3">
              <label for="time" class="form-label">Time (EST)</label>
              <input
                type="time"
                name="time"
                id="time"
                class="form-control"
                value="{{time}}"
                required
              />
              <div id="timeHelp" class="form-text">
                Our tutors are available from 3pm to 10pm every night.
              </div>
            </div>

            <div class="mb-3">
              <label for="duration" class="form-label">Duration (hours)</label>
              {% comment %} <input
                type="number"
                name="duration"
                id="duration"
                class="form-control"
                value="{{duration}}"
                required
              /> {% endcomment %}
              <select
                name="duration"
                id="duration"
                class="form-select"
                type="number"
                value={{duration}}
                required
              >
                <option value="0.5">0.5</option>
                <option value="1">1</option>
                <option value="1.5">1.5</option>
              </select>
              <div id="durationHelp" class="form-text">
                Most commonly, sessions are 0.5, 1, or 1.5 hours.
              </div>
            </div>

            <div class="mb-3">
              <label for="topic" class="form-label"
                >Selected Topic from Dropdown</label
              >
              <select name="topic" id="topic" class="form-select" required>
                <option value="Math">Math</option>
                <option value="Science">Science</option>
                <option value="English">English</option>
                <option value="History">History</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Other">Other</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label"
                >Topic Description</label
              >
              <textarea
                name="description"
                id="description"
                class="form-control"
                required
              >
{{description}}</textarea
              >
              <div id="tiemHelp" class="form-text">
                Please specify the specific topic to be covered. (i.e. SAT Math
                - Right Angle Geometry)
              </div>
            </div>

            <div class="mb-3">
              <label for="gradeLevel" class="form-label"
                >Student Grade Level</label
              >
              <input
                type="text"
                name="gradeLevel"
                id="gradeLevel"
                class="form-control"
                placeholder="K-12"
                value="{{gradeLevel}}"
                required
              />
            </div>

            <div class="mb-3">
              <label for="preferredPlatform" class="form-label"
                >Preferred Platform</label
              >
              <select
                name="preferredPlatform"
                id="preferredPlatform"
                class="form-select"
                required
              >
                <option value="Zoom">Zoom</option>
                <option value="Google Meet">Google Meet</option>
              </select>
            </div>

            <div class="mb-3">
              <input type="submit" value="Register" class="btn btn-primary" />
            </div>
          </form>
        </div>
        <div class="col d-none d-md-block"></div>
      </div>
    </div>

    <!-- Footer-->
    <footer class="bg-body-tertiary text-center">
      <div class="container p-4"></div>    
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright.
        <a class="text-body" href="https://www.iridiumtutoring.org/">iridiumtutoring.org</a>
      </div>
    </footer>
  </body>

  <!-- BootstrapJS -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>

</html>
