<!DOCTYPE html>
<html lang="en">
  <!-- Header -->
  {% load static %}
  {% include 'tutoring_student/header.html' %}
  <head>
    <title>Iridium Tutoring - Office Hours</title>
  </head>
  <script>
    var i = 0;
    var text = "Office hours, every night.";

    function typeWriter() {
        if (i <= text.length) {
            var element =  document.getElementById("typewriter");
            element.innerHTML = text.substring(0, i);
            i++;
            setTimeout(typeWriter, Math.random() * 35 + 35);
        }
    }
  </script>
  <!-- Body -->
  <body onload="typeWriter();">
    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.iridiumtutoring.org"
          ><img
            src="{% static 'tutoring_student/images/iridiumbannerheader.png' %}"
            class="img-fluid"
            style="height: 3rem"
            alt="Iridium Tutoring Logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link fw-bold"
              href="{% url 'tutoring_student:index' %}"
              >Home</a
            >
            <a
              class="nav-link active fw-bold"
              aria-current="page"
              href="{% url 'tutoring_student:officeHours' %}"
              >Office Hours</a
            >
            <a
              class="nav-link fw-bold"
              href="{% url 'tutoring_student:studentView' %}"
              >Students</a
            >
            <a
              class="nav-link fw-bold"
              href="{% url 'tutoring_student:tutorView' %}"
              >Tutors</a
            >
          </div>
        </div>
        <div class="nav navbar-nav ml-auto mr-0">
          <a class="nav-link fw-bold" href="https://www.iridiumtutoring.org"
            >Back To Main Site</a
          >
        </div>
      </div>
    </nav>

    <!-- Landing splash -->
    <section class="py-6 py-xxl-10 bg-dark">
        <div class="container">
          <div class="row align-items-center gy-lg-6 gy-3 pt-4 pb-2">
            <div class="pb-5 p-5">
              <div
                class="d-flex flex-column gap-3 text-center text-md-start pt-5 pb-5"
              >
                <div>
                <h1 class="text-white mb-3 display-2 fw-bold" id="typewriter">
                  Office hours, every night.
                </h1>
                <p class="mb-0 lead text-white mt-3">
                  Hosted every night virtually at 6:30 PM EST.
                </p>
              </div>
              <div
                class="justify-content-md-start text-white lead"
              >
                <a
                  href="https://meet.google.com/jau-gxoy-bqu"
                  target="_blank"
                  class="btn btn-orange btn-lg text-white fw-bold mt-3 rounded-pill"
                  >Join Now</a
                >
              </div>
              <div
                class="d-flex flex-row gap-1 pt-5 justify-content-center align-items-center text-white"
              >
                <a
                  href="#what_we_offer"
                  class="text-white bi bi-chevron-compact-down floating"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Calendar -->
        <!-- Offerings-->
    <section class="pb-3" style="background-color: #eae9ec">
        <div class="container pb-5">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center pb-3">
                <p id="what_we_offer" class="mt-5 mb-5 display-5 fw-bold">
                  Office Hours
                </p>
              </div>
            </div>
          </div>
          <div class="row gy-6 pb-3">
            <div class="col-lg-4 col-md-6 mb-3">
              <div>
                <div class="mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312z"/>
                      </svg>
                </div>
                <div>
                  <h3 class="h4">Join Meeting</h3>
                  <p class="mb-0">
                    Join our meeting link. We will be available starting at 6:30 PM.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
              <div>
                <div class="mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-2-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24c0-.691.493-1.306 1.336-1.306.756 0 1.313.492 1.313 1.236 0 .697-.469 1.23-.902 1.705l-2.971 3.293V12h5.344v-1.107H7.268v-.077l1.974-2.22.096-.107c.688-.763 1.287-1.428 1.287-2.43 0-1.266-1.031-2.215-2.613-2.215-1.758 0-2.637 1.19-2.637 2.402v.065h1.271v-.07Z"/>
                      </svg>
                </div>
                <div>
                  <h3 class="h4">Breakout Rooms</h3>
                  <p class="mb-0">
                    Our tutors will assign you to a breakout room based on your needs.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div>
                <div class="mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-3-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-8.082.414c.92 0 1.535.54 1.541 1.318.012.791-.615 1.36-1.588 1.354-.861-.006-1.482-.469-1.54-1.066H5.104c.047 1.177 1.05 2.144 2.754 2.144 1.653 0 2.954-.937 2.93-2.396-.023-1.278-1.031-1.846-1.734-1.916v-.07c.597-.1 1.505-.739 1.482-1.876-.03-1.177-1.043-2.074-2.637-2.062-1.675.006-2.59.984-2.625 2.12h1.248c.036-.556.557-1.054 1.348-1.054.785 0 1.348.486 1.348 1.195.006.715-.563 1.237-1.342 1.237h-.838v1.072h.879Z"/>
                      </svg>
                </div>
                <div>
                  <h3 class="h4">Receive Support</h3>
                  <p class="mb-0">
                    A tutor will be present to help you with any questions you have.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- Footer-->
    {% include 'tutoring_student/large-footer.html' %}
  </body>
</html>
