<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    {% load static %}
    <link href="{% static 'tutoring_student/style.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title id="title">Iridium Tutoring | Tutor</title>
    <style>
      .glow {
        transition: box-shadow 0.3s ease-in-out;
      }

      .glow:hover {
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.15); /* Adjust the glow effect */
      }
    </style>
  </head>
  <body>
    {% load static %}
    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.iridiumtutoring.org"
          ><img
            src="{% static 'tutoring_student/images/iridiumbannerheader.png' %}"
            class="img-fluid"
            style="height: 3rem"
            alt="Iridium Tutoring Logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link fw-bold"
              href="{% url 'tutoring_student:index' %}"
              >Home</a
            >
            <a
              class="nav-link fw-bold"
              href="{% url 'tutoring_student:tutorView' %}"
              >Tutors</a
            >
            <a
              class="nav-link fw-bold"
              href="{% url 'tutoring_student:tutorProfile' %}"
              >Profile</a
            >
            <a
              class="nav-link active fw-bold"
              aria-current="page"
              href="{% url 'tutoring_student:tutorUtilities' %}"
              >Utilities</a
            >
          </div>
        </div>
        <!-- Align with right side of navbar -->
        <div class="nav navbar-nav ml-auto mr-0">
          {% if not user %}
          <a class="nav-link fw-bold" href="https://www.iridiumtutoring.org"
            >Back To Main Site</a
          >
          {% endif %} 
          {% if user %}
          <a href="{% url 'tutoring_student:tutor_logout' %}">
            <button class="btn btn-outline-light">
              <i class="bi bi-box-arrow-right fw-bold"></i>
            </button>
          </a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% if user %}
    <div class="container mt-3">
      <h1 class="text-center mt-5">{{recurring.student.studentName}}'s Recurring Session</h1>
      <hr />
      <div class="row justify-content-md-center mt-5 mb-3">
        <div class="col d-none d-md-block"> </div>
      <div class="list-group col-12 col-md-7">
        {% for session in recurring.sessions.all %}
          <a class="list-group-item list-group-item-action"
            ><div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{session.student.studentName}} - {{session.subject}} (Grade {{session.gradeLevel}})</h5>
              {% if session.isRecurring %}
              <span class="badge bg-secondary align-self-start">Recurring</span>
              {% endif %}
            </div>
              <small>{{session.date}} - {{session.time}} ({{session.duration}} hours)</small>
          </a> 
        {% endfor %}
        
      </div>
      <div class="col d-none d-md-block"> </div>
      </div>
      <a class="btn btn-secondary btn-lg rounded-pill mt-3" href="{% url 'tutoring_student:tutorRecurrings' %}" role="button">Go Back</a>
    </div>

    {% endif %}
    <!-- Footer-->
    {% include 'tutoring_student/footer.html' %}
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
