<!DOCTYPE html>
<html>
  {% include 'tutoring_student/header.html'%}
  <head>
    <title>Iridium Tutoring - Session Confirmation</title>
  </head>
  <body>
    <div class="container mt-lg-5">
      {% if error_message %}
          <div class="alert alert-danger">
              <h3>{{ error_message }}</h3>
          </div>
          {% if button %}
            <a class="btn btn-primary btn-lg" href="{% url 'tutoring_student:index' %}" role="button">Back to Home</a>
          {% endif %}
      {% else %}
          {% if tutoringSession %}
              <div class="jumbotron">
                  <h1 class="display-4">Thank you for registering, {{ tutoringSession.student.studentName }}!</h1>
                  <p class="lead">Here are the details of your tutoring session:</p>
                  <ul>
                      <li><strong>Student:</strong> {{ tutoringSession.student.studentName }}</li>
                      <li><strong>Subject:</strong> {{ tutoringSession.subject }} - {{ tutoringSession.description }}</li>
                      <li><strong>Date:</strong> {{ tutoringSession.date }} - {{ tutoringSession.time }} ({{ tutoringSession.duration }} hours)</li>
                  </ul>
                  <p class="lead">A tutor will reach out soon about the details of your session. If you have any questions, please contact us at <a href="mailto:iridiumtutoring@gmail.com">iridiumtutoring@gmail.com</a>.</p>
                  <p class="lead">NOTICE: Please save the session details for your convenience. You may login to the Student Portal with your student name and email to see all sessions registered for.</p>
                  {% if button %}
                  <a class="btn btn-dark-purple rounded-pill text-white fw-bold" href="{% url 'tutoring_student:studentView' %}" role="button">Go to Student Portal</a>
                  {% endif %}
              </div>
          {% endif %}
      {% endif %}
  </div>
</body>
</html>
