<html>
  {% include 'tutoring_student/header.html'%}
  <head>
    <title>Iridium Tutoring - Student Details</title>
  </head>
  <body>
    {% load static %}
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.iridiumtutoring.org"><img src="{% static 'tutoring_student/images/iridiumbannerheader.png' %}" class="img-fluid" style="height: 3rem" alt="Iridium Tutoring Logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'tutoring_student:index' %}">Home</a>
            <a class="nav-link active" aria-current="page" href="{% url 'tutoring_student:tutorView' %}">Tutor Portal</a>
         </div>
        </div>
        
          <!-- Align with right side of navbar -->
          <div class="nav navbar-nav ml-auto mr-0">
            {% if not user %}
            <a class="nav-link" href="https://www.iridiumtutoring.org">Back To Main Site</a>
            {% endif %}
            {% if user %}
            <a href="{% url 'tutoring_student:tutor_logout' %}">
                <button class="btn btn-outline-light"><i class="bi bi-box-arrow-right"></i></button>
            </a>
            {% endif %}
          </div>
      </div>
    </nav>

    <!-- Student Information -->
    {% if user %}
    <div class="container mt-3">
      <div>
      <h1 class="text-center mt-5">About {{student.studentName}}</h1>
      <div class="jumbotron">
        <p class="lead fw-bold">Personal Information:</p>
            <ul>
              <li><strong>Student:</strong> {{ student.studentName }}</li>
              <li><strong>Email:</strong> <a  href="mailto:{{ student.email }}">{{ student.email }}</a></li>
              {%if student.phone != null%}
              <li><strong>Phone:</strong> {{ student.phone }}</li>
              {% endif %}
              {%if student.location != null%}
              <li><strong>Student Location:</strong> {{student.location}}</li>
              {% endif %}
            </ul>
            {% if student.howDidYouHear != null or student.additionalComments != null %}
            <p class="lead">Additional Information:</p>
            <ul>
              {%if student.howDidYouHear != null%}
              <li>
                <strong>How {{student.studentName}} found out about Iridium:</strong>
                {{student.howDidYouHear}}
              </li>
              {%endif%} {%if student.additionalComments != null%}
              <li><strong>Additional Comments:</strong> {{student.additionalComments}}</li>
              {%endif%}
            </ul>
            {% endif %}
      </div>
    </div>
    <!-- Number of Sessions -->
    <div>
      <div class="jumbotron">
      <!-- Show all tutoring sessions-->
      <p class="lead fw-bold">{{student.studentName}}'s Tutoring Sessions:</p>
      <div class="row justify-content-md-center mt-3 mb-3">
        <div class="col d-none d-md-block"> </div>
      {% if tutoringSessionList %}
        <div class="list-group col-12 col-md-7">
        {% for session in tutoringSessionList %}
          {% if not session.was_in_the_past%}
          <a class="list-group-item list-group-item-action"
            ><div class="d-flex w-100 justify-content-between">
              <p class="mb-1 lead fw-bold">{{session.subject}}</p>
              {% if session.was_in_the_past %}
              <span class="badge bg-secondary align-self-start">Past</span>
              {% elif session.isRecurring %}
              <span class="badge bg-secondary align-self-start">Recurring</span>
              {% elif session.tutor %}
              <span class="badge bg-primary align-self-start">Upcoming (Tutor Confirmed)</span>
              {% else %}
              <span class="badge bg-danger align-self-start">Upcoming (Tutor Pending)</span>
              {% endif %}

        </div>
              <small>{{session.date}} - {{session.time}} ({{session.duration}} hours), Grade: {{session.gradeLevel}}</small>
          </a>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %} {% if not tutoringSessionList %}
      <p>No upcoming of tutoring sessions.</p>
      {% endif %}
      <div class="col d-none d-md-block"> </div>
    </div>
    </div>
    </div>
    {% endif %}
    <a class="btn btn-secondary btn-lg rounded-pill" href="{{ request.META.HTTP_REFERER }}" role="button">Go Back</a>
  </div>
  </body>
</html>
