<!DOCTYPE html>
<html lang="en">
  {% include 'tutoring_student/header.html'%}
  <head>
    <title>Iridium Tutoring - Tutor Profile</title>
  </head>
  <body>
    {% load static %}
    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.iridiumtutoring.org"><img src="{% static 'tutoring_student/images/iridiumbannerheader.png' %}" class="img-fluid" style="height: 3rem" alt="Iridium Tutoring Logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link fw-bold" href="{% url 'tutoring_student:index' %}">Home</a>
            <a class="nav-link fw-bold" href="{% url 'tutoring_student:tutorView' %}">Tutors</a>
            <a class="nav-link active fw-bold" aria-current="page" href="{% url 'tutoring_student:tutorProfile' %}">Profile</a>
            <a class="nav-link fw-bold" href="{% url 'tutoring_student:tutorUtilities' %}">Utilities</a>
         </div>
        </div>
            <!-- Align with right side of navbar -->
          <div class="nav navbar-nav ml-auto mr-0">
            {% if not user %}
              <a class="nav-link fw-bold" href="https://www.iridiumtutoring.org">Back To Main Site</a>
            {% endif %}
            {% if user %}
            <a href="{% url 'tutoring_student:tutor_logout' %}">
                <button class="btn btn-outline-light"><i class="bi bi-box-arrow-right fw-bold"></i></button>
            </a>
            {% endif %}
          </div>
            
      </div>
    </nav>
    {% if user %}
    <div class="container mt-5 mx-auto">
        <h1 class="text-center">{{ tutor.tutorName }}'s Profile</h1>
        <hr>
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-8">
            <h3>Personal Information</h3>
            <ul class="list-group">
                Full Name <li class="list-group-item disabled">{{ tutor.tutorName }}</li>
                Email <li class="list-group-item disabled">{{ tutor.email }}</li>
                Password <li class="list-group-item disabled">********</li>
                {% if tutor.phone %}
                Phone <li class="list-group-item disabled">{{ tutor.phone }}</li>
                {% endif %}
                {% if tutor.onBoardingDate %}
                Onboarding Date <li class="list-group-item disabled">{{ tutor.onBoardingDate }}</li>
                {% endif %}
            </ul>
            {% if tutor.description %}
            <h5 class="mt-3">Notes</h5>
            <p>{{ tutor.description }}</p>
            {% endif %}
            <h5 class="mt-3">Volunteer Hours</h5>
            {% with tutoringSessions|length as len %}
            
            <p>Your total hours: {{len}} sessions x ~1.5 hours each = {{hours}} total hours.</p>
            {% if hours > 100 %}
            <p class="text-success">Congratulations! You have exceeded 100 hours of volunteer service! 
              You may qualify for the President's Volunteer Service Award, contact an Iridium director for more information.</p>
            {% endif %}
            {% endwith %}
          </div>
          <div class="col-12 col-md-8 mt-3">
            <h3>Previous Tutoring Sessions</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Student</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Subject</th>
                </tr>
              </thead>
              <tbody>
                {% for session in tutoringSessions %}
                {% if session.was_in_the_past %}
                <tr>
                  <td>{{ session.student.studentName }}</td>
                  <td>{{ session.date }}</td>
                  <td>{{ session.time }}</td>
                  <td>{{ session.subject }}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endif %}
<!-- Footer-->
{% include 'tutoring_student/footer.html' %}
</body>
</html>
