<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title id="title">Iridium Tutoring</title>
  </head>
  <body>
    {% load static %}
    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.iridiumtutoring.org"><img src="{% static 'tutoring_student/images/iridiumbannerheader.png' %}" class="img-fluid" style="height: 3rem" alt="Iridium Tutoring Logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'tutoring_student:index' %}">Home</a>
            <a class="nav-link active" aria-current="page" href="{% url 'tutoring_student:tutorView' %}">Tutor Portal</a>
         </div>
        </div>
            <!-- Align with right side of navbar -->
          <div class="nav navbar-nav ml-auto mr-0">
            {% if not user %}
              <a class="nav-link" href="https://www.iridiumtutoring.org">Back To Main Site</a>
            {% endif %}
            {% if user %}
            <a href="{% url 'tutoring_student:tutor_logout' %}">
                <button class="btn btn-outline-light">Logout</button>
            </a>
            {% endif %}
          </div>
            
      </div>
    </nav>

    {% if user %}
    <!-- Show all tutoring sessions-->
    <div class="container mt-3">
      {% if tutor %}
      <h1 class="text-center mt-5">Welcome, {{tutor.tutorName}}!</h1>
      {% endif %}
      <h2 class="text-center mt-5">Your Upcoming Tutoring Sessions</h2>
      <div class="row justify-content-md-center mt-5 mb-5">
        <div class="col d-none d-md-block"> </div>
      {% if tutoringSessionList %}
      <div class="list-group col-12 col-md-7">
        {% for session in tutoringSessionList %}
        {% if not session.was_in_the_past and session.tutor.tutorName == tutor.tutorName and session.tutor.email == tutor.email %}
          <a href="{% url 'tutoring_student:session_details_tutor' session.id %}" class="list-group-item list-group-item-action"
            ><div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{session.student.studentName}} - {{session.subject}} (Grade {{session.gradeLevel}})</h5>
            </div>
              <small>{{session.date}} - {{session.time}} ({{session.duration}} hours)</small>

          </a> 
        {% endif %} {% endfor %}
      </div>
      {% endif %}
      <div class="col d-none d-md-block"> </div>
    </div>

      <h2 class="text-center mt-5">Available Tutoring Sessions</h2>
      <div class="row justify-content-md-center mt-5 mb-5">
        <div class="col d-none d-md-block"> </div>
      {% if tutoringSessionList %}
      <div class="list-group col-12 col-md-7">
        {% for session in tutoringSessionList %}
        {% if not session.was_in_the_past %}
          <a href="{% url 'tutoring_student:session_details_tutor' session.id %}" class="list-group-item list-group-item-action"
            ><div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{session.student.studentName}} - {{session.subject}} (Grade {{session.gradeLevel}})</h5>
              {% if session.tutor %}
              <span class="badge bg-secondary align-self-start">Taken</span>
              {% else %}
              <span class="badge bg-primary align-self-start">Available</span>
              {% endif %}

            </div>
              <small>{{session.date}} - {{session.time}} ({{session.duration}} hours)</small>

          </a> <!-- <span class="badge bg-secondary">New</span> -->
        {% endif %} {% endfor %}
      </div>
      {% endif %}
      <div class="col d-none d-md-block"> </div>
    </div>
    
    <!-- TODO: Historical sessions + pagination -->
    <!-- https://www.geeksforgeeks.org/how-to-add-pagination-in-django-project/-->
    </div>
    {% else %}
    <!-- Password form -->
    <div class="container mt-3">
      <div class="row justify-content-md-center mt-3 mb-3">
        <div class="col d-none d-md-block"> </div>
        <div class="col-12 col-md-6">
      <h1 class="text-center">Tutor Portal</h1>
      <form action="{% url 'tutoring_student:tutorView' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="password" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" />
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      {% if error %}
      <div class="alert alert-danger mt-4" role="alert">
        {{error}}
      </div>
      {% endif %}
    </div>
    <div class="col d-none d-md-block"> </div>
  </div>
    {% endif %}


</body>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
</html>
